* {
    box-sizing: border-box;
}

.title {
    text-align: center;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    margin: 50px;
    justify-content: center;
}

.card {
    background-color: black;
    height: 150px;
    width: 150px;
}